<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <header>
    <div class='head'>
      <div class="logos">
        <%= image_tag "ロゴ_lee.png", class: "logo" %>
      </div>

      <ul class="menus">
        <li clsss="menu">FEATURES</li>
        <li clsss="menu">NEWS</li>
        <li>
          <%= link_to("SHOPLIST", "https://lee-japan.jp/", clsss:"menu")%>
        </li>
        <li>
          <%= link_to("ONLINE SHOP", "https://lee-japan.jp/", clsss:"menu")%>
        </li>
      </ul>
    </div>

    <div class='head_pictures'>
      <%= render "shared/swipe_head" %>
    </div>
  </header>

  <body>
    <div class='features'>
    </div>

    <div class='news'>
    </div>

    <div class='insta'>
    </div>
  </body>

  <footer>
    <div class='tale_pictures'>
    </div>

    <div class='foot'>
    </div>
  </footer>
</html>