<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <header>
    <div class='head'>
      
    </div>

    <div class='head_pictures'>
      <%= render "shared/swipe_head" %>
    </div>
  </header>

  <body>
    <div class='features'>
    </div>

    <div class='news'>
    </div>

    <div class='insta'>
    </div>
  </body>

  <footer>
    <div class='tale_pictures'>
    </div>

    <div class='foot'>
    </div>
  </footer>
</html>