.headrer{
  height: 600px;
}

.head{
  height: 80px;
  background-color: black;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.logos{
  /* width: 50%; */
  margin-left: 40px;
}

.logo{
  height: 80px;
}

.menus{
  width: 50%;
  color: white;
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.menus a{
  list-style: none;
  text-decoration: none;
  color: inherit;
  transition: color 0.5s;
}

.menus a:hover{
  text-decoration: underline;
  color: gray;
}

.head_pictures{
  height: 450px;
  margin-bottom: 5px;
  
}

.swiper {
  width: 100%;
  height: 500px;
}

.top_img{
  width: 100vw;
}


/* レスポンシブ対応 *************************************/

@media (max-width: 2000px) {
  .top_img {
    width: 33vw;
  }
}

@media (max-width: 1200px) {
  .top_img {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .top_img {
    width: 100vw;
  }
  .head {
    justify-content: center;
  }
  .logos {
    margin-left: 0;
  }
  .menus{ display: none; }
}
