/* featureのcss ***********************************/

.features,
.news {
  width: 75%;
  margin: 175px auto 0;
  text-align: center; /* 親要素を中央揃えにする */
}

.title, 
.allview {
  margin: auto; /* 中央揃えにする */
}

.title_main{
  font-size: x-large;
  font-weight: 900;
}

.title_sub{
  font-size: medium;
  font-weight: 400;
}

.feature_upper_links,
.feature_bottom_links{
  margin: 75px;
  display: flex;
  justify-content: space-around;

}

.feature_link{
  text-align: left; /* キャプションを左寄せにする */
}

.link_image {
  max-width: 100%; /* 画像が親要素をはみ出さないようにする */
  width: 20vw;
}

.link_image:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.caption{
  max-width: 300px; 
  margin-top: 5px;
  font-size: small;
}

.allview{
  width: 50%;
  height: 65px;
  margin-bottom: 300px;
  border: 3px solid black;
  font-size: large;
  font-weight: 900;
  line-height: 65px;
  transition: background-color 0.5s, color 0.5s;
}

.allview:hover{
  background-color: black;
  color: white;
  font-size: large;
  font-weight: 900;
  line-height: 65px;
}

.allview a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  transition: color 0.5s;
}



/* newsのcss ***************************************/

.news_links{
  margin: 75px auto;
  display: flex;
  justify-content: space-around;
}

.news_link_image{
  /* max-width: 100%; 画像が親要素をはみ出さないようにする */
  width: 170px;
}

.news_link_image:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.news_caption{
  max-width: 12vw; 
  margin: 5px 0 20px 0;
  text-align: left;
  font-size: x-small;

}


/* レスポンシブ対応 *************************************/

/* タブレット表示時 */
@media (max-width: 1000px) {
  .features {
    width: 90%;
  }
  .feature_upper_links,
  .feature_bottom_links{
    margin: 10px auto;
  }
  .link_image {
    width: 25vw;
  }
  .caption{
    max-width: 25vw; 
    margin: 5px 0 20px;
    font-size: x-small;
  }

  /* news_image******/
  .news{
    width: 100%;
  }
  .news_links{
    margin: 75px auto;
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
  }
  .news_link_image{
    width: 170px;
    margin: 0 10px;
  }
  .news_caption{
    max-width: 170px; 
    margin: 5px 0 50px 5px;
    text-align: left;
    font-size: x-small;
  }


  
}

/* スマホ表示時 */
@media (max-width: 500px) {
  .features,
  .news{
    width: 100%;
  }
  .feature_upper_links,
  .feature_bottom_links{
    margin: 0 auto;
    display: block;
  }
  .link_image {
    width: 100vw;
  }
  .caption{
    max-width: 100%; 
    margin: 5px 0 50px 10px;
    font-size: medium;
  }
  
}