.head{
  height: 80px;
  background-color: black;
  margin-bottom: 5px;
}

.head_pictures{
  height: 500px;
  background-color: gray;
  margin-bottom: 5px;
  
}

.swiper {
  width: 500px;
  height: 500px;
}

.top_img{
  width: 500px;
}