.head{
  height: 80px;
  background-color: black;
  margin-bottom: 5px;
}

.head_pictures{
  height: 500px;
  margin-bottom: 5px;
  
}

.swiper {
  width: 100vw;
  height: 500px;
}

.swiper-button-next,
.swiper-button-prev {
  color: red; /* 矢印の色を赤に設定 */
  font-size: 24px; /* 矢印のフォントサイズを変更 */
  /* 他のスタイリングを追加 */
}

.top_img{
  width: 515px;
}